body {
    font-family: arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #007bff;
}

p {
    color: #666;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005b36;
}

.rodape {
    background-color: #f36e20;
    color: white;
    font-size: 14px;
    font-family: helvetica;
}

.rodape a {
    text-decoration: none;
    color: white;
}

.rodape p {
    margin-bottom: 5px;
}

.rodape-div {
    display: flex;
    justify-content: row;
    padding: 60px 10px 40px 10px;
}

.rodape-div {
    flex: 1;
    padding: 10px;
}
.rodape-div-2{
    display: flex;
    justify-content: row;
    padding: 60px 10px 40px 10px;
}
.rodape-div-2 {
    flex: 1;
    padding: 10px;
}
.rodape-div-3-coluna{
    display: flex;
    justify-content: row;
    padding: 60px 10px 40px 10px;
}
.rodape-div-3-coluna {
    flex: 1;
    padding: 10px;
}
.rodape-div-coluna{
    display: flex;
    justify-content: row;
    padding: 60px 10px 40px 10px;
}
.rodape-div-coluna {
    flex: 1;
    padding: 10px;
}
.rodape-div-1,.rodape-div-2, .rodape-div-3-coluna, .rodape-div-4-coluna
{
    width: calc(50% - 20%);
    padding: 10px;
}
.rodape span {
    font-size: 20px;
}

.rodape-direitos {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0;
}

/* Mobile */
@media (max-width: 768px) {
    .rodape-div-1,.rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20%);
        padding: 10px;
    }
    .rodape-div {
        flex-basis: 50%;
    }
}
